$border-color: rgb(110 73 111 / 38%);
$background__color: rgb(149 115 155 / 32%);
body {
  font-family: "Montserrat", sans-serif;
}
.container {
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
  max-width: 1200px;
}
.slider {
  overflow: hidden;

  height: 700px;
  .sliderLine {
    height: 100%;
    display: flex;
    transition: all ease 500ms;
  }
}
.all-dot {
  display: flex;
  justify-content: center;
  margin-top: 17px;
  display: flex;
  column-gap: 10px;
  .dot {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(239, 238, 246, 1);
  }
  .dot-active {
    background: rgba(158, 152, 220, 1);
  }
}
.header {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__logo {
    h1 {
      font-weight: 700;
      line-height: 29.26px;
      font-size: 24px;
      color: rgba(28, 42, 57, 1);
    }
  }
  .header__navigate {
    text-transform: uppercase;
    display: flex;
    column-gap: 40px;
    .header__navigateAll {
      cursor: pointer;
      font-size: 10px;
      font-weight: 400;
      line-height: 12.19px;
      color: rgba(92, 106, 121, 1);
      &:hover {
        scale: 1.05;
      }
    }
    .header__navigate-active {
      font-weight: 700;
      color: rgba(28, 42, 57, 1);
    }
  }
  .header__section-icon {
    display: flex;
    align-items: center;
    column-gap: 40px;
    img {
      cursor: pointer;
    }
  }
}
.content {
  margin-top: 150px;
  display: flex;
  aside {
    position: relative;
    ul {
      padding: 0;
      display: flex;
      flex-direction: column;
      row-gap: 23px;
      .content__li {
        cursor: pointer;
        list-style-type: none;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        color: rgb(92, 106, 121);
      }
      .content__li-active {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        color: rgb(28, 42, 57);
        &::before {
          content: "";
          left: -20px;
          position: absolute;
          display: block;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: rgb(117, 106, 211);
        }
      }
    }
  }
}
.div-fon {
  left: -100px;
  top: -50px;
  width: 416px;
  height: 710px;
  background: rgb(239, 238, 246);
  position: absolute;
  z-index: -1;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 96px;
  column-gap: 76px;
  .card {
    display: flex;
    flex-direction: row;
    width: 424px;
    height: 300px;
    .card__info {
      padding: 49px 0 49px 36px;
      .card__info__author {
        font-family: "Open Sans";
        font-size: 10px;
        line-height: 14px;
        color: rgb(92, 106, 121);
      }
      .card__info__name {
        font-size: 16px;
        line-height: 20px;
        color: rgb(28, 42, 57);
      }
      .card__info__rating {
        display: flex;
        align-items: center;
        span {
          font-family: "Open Sans";
          font-size: 10px;
          line-height: 14px;
          color: rgb(92, 106, 121);
        }
      }
      .card__info__description {
        font-family: "Open Sans";
        font-size: 10px;
        line-height: 14px;
        color: rgb(92, 106, 121);
      }
      .card__info__prise {
        font-size: 13px;
        line-height: 16px;
        color: rgb(28, 42, 57);
      }
      .card__info__button {
        font-size: 8px;
        line-height: 10px;
        color: rgb(76, 61, 178);
        padding: 18px 0;
        width: 100%;
        border: 1px solid rgb(76, 61, 178);
      }
    }
  }
}
